<h1>Edit Courses</h1>
<p><a href="/painel/ta/create-course">New Course</a></p>
{{#each course}}
<form action="/course/delete/{{this.id}}" method="POST">
<p><a href="/painel/ta/{{this.id}}/edit">{{this.name}}</a> | <button type="submit">Remove</button></p>
</form>
{{/each}}
<p><a href="/show">Back</a></p>